// variables

$primary-font: "Lora", serif;
$secondary-font: "Montserrat", sans-serif;
$background-color: #ffffff;
$black: #000000;
$grey-dark: #3b3a3a;
$blackish: #2a2a2a;

// base styles

*,
*::before,
*::after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.clearfix {
 zoom: 1;
}

@viewport {
 width: device-width;
 zoom: 1;
}

@-ms-viewport {
 width: device-width;
}

body {
 background-color: $background-color;
 color: $black;
 font-size: 130%;
 font-family: $secondary-font;
 font-size: 0.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 font-family: $primary-font;
 color: $black;
}

.row {
 position: relative;
}

.row::after {
 content: "";
 display: block;
 clear: both;
}

h1 {
 font-size: 2rem;
 margin: 1.2rem 0 2rem 0.7rem;
 grid-column-start: 1;
 grid-column-end: 3;
 font-weight: bold;
 letter-spacing: -0.1rem;
}

.who {
 grid-column-start: 1;
 grid-column-end: 3;
 font-family: $primary-font;
 margin: 0 0 0.5rem 0.7rem;
 grid-column: 1;
 text-transform: uppercase;
 font-size: 1rem;
 font-weight: 700;
 letter-spacing: 0.01rem;
}

p {
 margin: 0 0 3rem 0.7rem;
 font-weight: 600;
 font-size: 0.8rem;
 grid-column-start: 1;
 grid-column-end: 3;
 letter-spacing: 0.01rem;
 line-height: 1.1rem;
}

.name {
 display: inline-block;
 font-size: 0.7rem;
 color: $black;
 font-weight: bold;
 margin-bottom: 0rem;
}

.vertical-text {
 transform: rotate(90deg);
 transform-origin: bottom right;
 margin: 0rem 0.8rem 0rem -5.2rem;
 color: black;
 font-size: 0.6rem;
 font-weight: normal;
 text-transform: uppercase;
}

img {
 position: relative;
 display: inline-block;
 width: 91%;
 height: auto;
}

.container {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.left-half {
 grid-column: 1;
 margin: 2.5rem 0.8rem 0rem 0.7rem;
}

.up {
 margin-top: -0.5rem;
}

.right-half {
 grid-column: 2;
 margin: 2.5rem 1.7rem 0rem 0rem;
}

@media (min-width: 427px) {
 .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }
}

h1 {
 font-size: 2rem;
 margin: 1.2rem 0 2rem 0.7rem;
 grid-column-start: 1;
 grid-column-end: 3;
 font-weight: bold;
 letter-spacing: -0.1rem;
}

.who {
 grid-column-start: 1;
 grid-column-end: 3;
 font-family: $primary-font;
 margin: 0 0 0.5rem 0.7rem;
 grid-column: 1;
 text-transform: uppercase;
 font-size: 1rem;
 font-weight: 700;
 letter-spacing: 0.01rem;
}

p {
 margin: 0 0 3rem 0.7rem;
 font-weight: 600;
 font-size: 0.8rem;
 grid-column-start: 1;
 grid-column-end: 3;
 letter-spacing: 0.01rem;
 line-height: 1.1rem;
}

.name {
 display: inline-block;
 font-size: 0.7rem;
 color: $black;
 font-weight: bold;
 margin-bottom: 0rem;
}

.vertical-text {
 transform: rotate(90deg);
 transform-origin: bottom right;
 margin: 0rem 0.8rem 0rem -5.2rem;
 color: black;
 font-size: 0.6rem;
 font-weight: normal;
 text-transform: uppercase;
}

img {
 position: relative;
 display: inline-block;
 width: 91%;
 height: auto;
}

.container {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.bill,
.shae,
.griff {
 grid-column: 1;
 margin: 2.5rem 0.8rem 0rem 0.7rem;
}

.up {
 margin-top: -0.5rem;
}
.saba,
.skylah,
.stan {
 grid-column: 2;
 margin: 2.5rem 1.7rem 0rem 0rem;
}

/* /* Single column display for phones 
@media (max-width: 459px) {
 .archive {
  display: flex;
  flex-direction: column;
 }
} */
