// variables

$fontPTserif: "PT Serif", serif;
$fontMontserrat: "Montserrat", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$background-color: #fafafa;
$black: #000000;
$colorFooter: #a9a9a9;

// base styles
*,
*::before,
*::after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.clearfix {
 zoom: 1;
}

@viewport {
 width: device-width;
 zoom: 1;
}

@-ms-viewport {
 width: device-width;
}

body {
 background-color: $background-color;
 font-size: 130%;
 font-size: 0.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 color: $black;
}

.row {
 position: relative;
}

.row::after {
 content: "";
 display: block;
 clear: both;
}

.container {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

h1 {
 display: inline-block;
 grid-column-start: 1;
 grid-column-end: 3;
 font-size: 2.25rem;
 font-family: $fontPTserif;
 margin: 1.2rem 0 2rem 0.7rem;
 font-weight: bold;
 letter-spacing: -0.1rem;
}

.who {
 grid-column-start: 1;
 grid-column-end: 3;
 font-family: $fontPoppins;
 font-weight: 600;
 margin: 0 0 0.5rem 0.7rem;
 text-transform: uppercase;
 font-size: 1.1rem;
 letter-spacing: 0.01rem;
 color: $black;
}

p {
 grid-column-start: 1;
 grid-column-end: 3;
 margin: 0 0 3rem 0.7rem;
 font-family: $fontPoppins;
 font-weight: normal;
 font-size: 0.875rem;
 letter-spacing: 0.01rem;
 line-height: 1.3rem;
 color: $black;
}

.name {
 display: inline-block;
 font-size: 0.87rem;
 line-height: 1.3rem;
 color: $black;
 font-family: $fontPoppins;
 font-weight: 600;
 margin-bottom: 0rem;
}

.vertical-text {
 transform: rotate(90deg);
 transform-origin: bottom right;
 margin: 0rem 0.75rem 0rem -5.2rem;
 color: black;
 font: $fontPTserif;
 font-size: 10px;
 line-height: 0.8rem;
 font-size: 0.6rem;
 font-weight: normal;
 text-transform: uppercase;
}

img {
 display: inline-block;
 position: relative;
 display: inline-block;
 width: 91%;
 height: auto;
 transform: matrix(-1, 0, 0, 1, 0, 0);
}

.bill,
.shae,
.griff {
 grid-column: 1;
 margin: 2.5rem 0.8rem 0rem 1.1rem;
}

.up {
 margin-top: -0.5rem;
}

.saba,
.skylah,
.stan {
 grid-column: 2;
 margin: 2.5rem 1rem 0rem 0.5rem;
}

footer {
 display: inline-block;
 grid-column-start: 1;
 grid-column-end: 3;
 font-size: 0.8rem;
 font-family: $fontMontserrat;
 color: $colorFooter;
 font-weight: 600;
 line-height: 1rem;
 text-align: center;
 align-items: center;
 margin: 3rem 0rem 1.4rem 0rem;

 a:link {
  text-decoration: none;
  color: $black;
 }
 a {
  color: inherit;
 }
}

// media quries
@media (min-width: 600px) {
 .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }

 h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 2.1rem;
  margin: 4rem 0 5rem 5rem;
  font-weight: bold;
  letter-spacing: -0.18rem;
 }

 .who {
  grid-column: 3;
  font-family: $fontPoppins;
  margin: 4rem 0 5rem -6rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
 }

 p {
  grid-column: 3;
  margin: -5.7rem 0 5rem -6rem;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 1.15rem;
 }

 .name {
  display: inline-block;
  font-size: 1.15rem;
  margin-bottom: 0rem;
  letter-spacing: -0.02rem;
 }

 .vertical-text {
  transform: rotate(90deg);
  transform-origin: bottom right;
  margin: 0rem 0.85rem 0rem -6rem;
  color: black;
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: uppercase;
 }

 img {
  position: relative;
  display: inline-block;
  width: 90%;
  height: auto;
 }

 .bill,
 .skylah {
  grid-column: 1;
  margin: 0rem 0rem 0rem 6rem;
 }

 .saba,
 .griff {
  grid-column: 2;
  margin: 5rem 2.8rem 2rem 2.8rem;
 }

 .shae,
 .stan {
  grid-column: 3;
  margin: 0rem 6rem 0rem 0rem;
 }

 footer {
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  align-items: center;
  justify-items: center;

  a:link {
   text-decoration: none;
   color: $black;
  }
  a {
   color: inherit;
  }
 }
}
